body {
  border:3px solid black;
  width:50%;
  margin-left: 25%;
  background-image: linear-gradient(to right,brown, purple);
}

.head {
  text-align: center;
  color: cornsilk;
  font-weight: bold;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 46%;
  font-size: 30px;
  padding: 1%;
}

.flex-container > div.left {
  text-align: right;
}

.flex-container > div.right {
  text-align: left;
}

.table-head {
  background-color: black;
  color: cornsilk;
  font-weight: bold;
}

.table-bottom {
  margin: 1em 0;
  text-align: center;
}
.left{
  color:cornsilk;
}
.right{
  color:cornsilk;
}
::placeholder{
  color:rgb(151, 10, 81);
}
button{
  border-radius: 5px;
  padding:5px;
  background-color:rgb(151, 10, 81);
  color: cornsilk;
  font-size:16px;
  cursor: pointer;
  text-align:center;
}
button:hover {
  background-color: rgb(196, 16, 76);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}